[submodule "pkg/ai-client"]
	path = pkg/ai-client
	url = git@github.com:tokenring-ai/ai-client
	branch = origin/main
[submodule "pkg/chat"]
	path = pkg/agent
	url = git@github.com:tokenring-ai/agent.git
	branch = origin/main
[submodule "pkg/codebase"]
	path = pkg/codebase
	url = git@github.com:tokenring-ai/codebase
	branch = origin/main
[submodule "pkg/eslint-config"]
	path = pkg/eslint-config
	url = git@github.com:tokenring-ai/eslint-config
	branch = origin/main
[submodule "pkg/filesystem"]
	path = pkg/filesystem
	url = git@github.com:tokenring-ai/filesystem
	branch = origin/main
[submodule "pkg/history"]
	path = pkg/history
	url = git@github.com:tokenring-ai/history
	branch = origin/main
[submodule "pkg/memory"]
	path = pkg/memory
	url = git@github.com:tokenring-ai/memory
	branch = origin/main
[submodule "pkg/planner"]
	path = pkg/planner
	url = git@github.com:tokenring-ai/planner
	branch = origin/main
[submodule "pkg/queue"]
	path = pkg/queue
	url = git@github.com:tokenring-ai/queue
	branch = origin/main
[submodule "pkg/registry"]
	path = pkg/registry
	url = git@github.com:tokenring-ai/registry
	branch = origin/main
[submodule "pkg/sqlite-storage"]
	path = pkg/sqlite-storage
	url = git@github.com:tokenring-ai/sqlite-storage
	branch = origin/main
[submodule "pkg/testing"]
	path = pkg/testing
	url = git@github.com:tokenring-ai/testing
	branch = origin/main
[submodule "pkg/workflow"]
	path = pkg/workflow
	url = git@github.com:tokenring-ai/workflow
	branch = origin/main
[submodule "pkg/utility"]
	path = pkg/utility
	url = git@github.com:tokenring-ai/utility.git
	branch = origin/main
[submodule "pkg/runnable"]
	path = pkg/runnable
	url = git@github.com:tokenring-ai/runnable.git
	branch = origin/main
[submodule "pkg/browser-chat-storage"]
	path = pkg/browser-agent-storage
	url = git@github.com:tokenring-ai/browser-agent-storage.git
	branch = origin/main
[submodule "pkg/browser-file-system"]
	path = pkg/browser-file-system
	url = git@github.com:tokenring-ai/browser-file-system.git
	branch = origin/main
[submodule "pkg/config"]
	path = pkg/config
	url = git@github.com:tokenring-ai/config.git
	branch = origin/main
[submodule "pkg/checkpoint"]
	path = pkg/checkpoint
	url = git@github.com:tokenring-ai/checkpoint.git
	branch = main
[submodule "pkg/iterables"]
	path = pkg/iterables
	url = git@github.com:tokenring-ai/iterables.git
	branch = main
[submodule "pkg/scripting"]
	path = pkg/scripting
	url = git@github.com:tokenring-ai/scripting.git
	branch = main
