[submodule "pkg/ai-client"]
	path = pkg/ai-client
	url = git@github.com:tokenring-ai/ai-client
	branch = main
[submodule "pkg/agent"]
	path = pkg/agent
	url = git@github.com:tokenring-ai/agent.git
	branch = main
[submodule "pkg/chat"]
	path = pkg/chat
	url = git@github.com:tokenring-ai/chat.git
	branch = main
[submodule "pkg/codebase"]
	path = pkg/codebase
	url = git@github.com:tokenring-ai/codebase
	branch = main
[submodule "pkg/filesystem"]
	path = pkg/filesystem
	url = git@github.com:tokenring-ai/filesystem
	branch = main
[submodule "pkg/memory"]
	path = pkg/memory
	url = git@github.com:tokenring-ai/memory
	branch = main
[submodule "pkg/queue"]
	path = pkg/queue
	url = git@github.com:tokenring-ai/queue
	branch = main
[submodule "pkg/testing"]
	path = pkg/testing
	url = git@github.com:tokenring-ai/testing
	branch = main
[submodule "pkg/utility"]
	path = pkg/utility
	url = git@github.com:tokenring-ai/utility.git
	branch = main
[submodule "pkg/browser-chat-storage"]
	path = pkg/browser-agent-storage
	url = git@github.com:tokenring-ai/browser-agent-storage.git
	branch = main
[submodule "pkg/browser-file-system"]
	path = pkg/browser-file-system
	url = git@github.com:tokenring-ai/browser-file-system.git
	branch = main
[submodule "pkg/config"]
	path = pkg/config
	url = git@github.com:tokenring-ai/config.git
	branch = main
[submodule "pkg/checkpoint"]
	path = pkg/checkpoint
	url = git@github.com:tokenring-ai/checkpoint.git
	branch = main
[submodule "pkg/iterables"]
	path = pkg/iterables
	url = git@github.com:tokenring-ai/iterables.git
	branch = main
[submodule "pkg/scripting"]
	path = pkg/scripting
	url = git@github.com:tokenring-ai/scripting.git
	branch = main
[submodule "pkg/app"]
	path = pkg/app
	url = git@github.com:tokenring-ai/app.git
	branch = main
[submodule "pkg/mcp"]
	path = pkg/mcp
	url = git@github.com:tokenring-ai/mcp.git
	branch = main
